<nav class="navbar navbar-light bg-light navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="madisontitlelogo.png" /></a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="navbarColor01" style="">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html"><ion-icon name="home"></ion-icon> Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="locations.html"><ion-icon name="navigate"></ion-icon> Locations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="team.html"><ion-icon name="people"></ion-icon> Team</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="services.html"><ion-icon name="list-box"></ion-icon> Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html"><ion-icon name="call"></ion-icon> Contact</a>
          </li>
        </ul>
      </div>
      <!-- Navbar content -->
    </div>
  </nav>